@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900&subset=latin-ext');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/banner1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    letter-spacing: 0.13em;
}


/* -------- SECTION HOME -------- */
.home {
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-inner {
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    border-top: solid 1px #ffffff;
    border-bottom: solid 1px #ffffff;
    padding: 0.5em 0 1.4em 0;
    position: relative;
}

.home-inner::before,
.home-inner::after {
    content: '';
    width: 1px;
    height: calc(3em + 1px);
    background: #ffffff;
    position: absolute;
}

.home-inner::before { top: calc(-3em - 1px); }
.home-inner::after { top: 100%; }

.home-inner h1 {
    font-size: 3em;
    font-weight: 600;
}

.home-inner h1::after {
    content: "";
    display: block;
    background-color: #ffffff;
    width: 4em;
    height: 1px;
    margin: 0.35em auto;
}

.home-inner p {
    font-size: 1.1em;
    font-weight: 600;
}

.icons {
    text-align: center;
    margin: 1em auto;
}

a.contact-icon  {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-size: 3.5em;
    padding: 0 0.15em;

}

a.contact-icon:hover { color: #ffffff; }

/*!* -------- LOGO -------- *!*/
.logo {
    width: 5vw;
    height: 5vw;
    border: solid 1px #ffffff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: calc(-3em);
    transform: translate(-50%, -100%);
}

/*!* -------- NAVIGATION -------- *!*/
nav {
    margin: 3em auto;
    text-align: center;
}

nav ul {
    display: flex;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
    border: solid 1px #ffffff;
    border-radius: 4px;
}

nav ul li {
    padding-left: 0;
    border-left: solid 1px #ffffff;
    min-width: 25%;
}

nav ul li:first-child { border-left: 0; }

nav ul li a {
    display: block;
    /*min-width: 7.5rem;*/
    /*height: 2.75rem;*/
    line-height: 2.75rem;
    padding: 0.5em 1em;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1em;
    color: #ffffff;
}

nav ul li a:hover,
nav ul li a:active,
nav ul li a:visited,
nav ul li a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
}

/* -------- FOOTER -------- */
footer {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 100%);
}

.copyright {
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;

}