@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900&subset=latin-ext');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/banner1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    letter-spacing: 0.13em;
}


/* -------- SECTION HOME -------- */
.home {
    width: 35vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-inner {
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    border-top: solid 1px #ffffff;
    border-bottom: solid 1px #ffffff;
    padding: 0.5em 0 1.4em 0;
    position: relative;
}

.home-inner::before,
.home-inner::after {
    content: '';
    width: 1px;
    height: calc(3em + 1px);
    background: #ffffff;
    position: absolute;
}

.home-inner::before { top: calc(-3em - 1px); }
.home-inner::after { top: 100%; }

.home-inner h1 {
    font-size: 3em;
    font-weight: 600;
}

.home-inner h1::after {
    content: "";
    display: block;
    background-color: #ffffff;
    width: 4em;
    height: 1px;
    margin: 0.35em auto;
}

.home-inner p {
    font-size: 1.1em;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
}

.icons {
    text-align: center;
    margin: 1em auto;
}

a.contact-icon  {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-size: 3.5em;
    padding: 0 0.15em;

}

a.contact-icon:hover { color: #ffffff; }

/* -------- LOGO -------- */
.logo {
    width: 5vw;
    height: 5vw;
    border: solid 1px #ffffff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: calc(-3em);
    transform: translate(-50%, -100%);
}

/* -------- NAVIGATION -------- */
nav {
    margin: 3em auto;
    text-align: center;
}

nav ul {
    display: flex;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
    border: solid 1px #ffffff;
    border-radius: 4px;
}

nav ul li {
    padding-left: 0;
    border-left: solid 1px #ffffff;
    min-width: 25%;
}

nav ul li:first-child { border-left: 0; }

nav ul li a {
    display: block;
    line-height: 2.75rem;
    padding: 0.5em 1em;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.7);
}

nav ul li a:hover,
nav ul li a:active,
nav ul li a:visited,
nav ul li a:focus {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.1);
}

/* -------- ARTICLES -------- */
main article {
    width: 55vw;
    max-width: 100%;
    padding: 2.5em ;
    background: rgba(27, 31, 34, 0.85);
    border-radius: 4px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 38%);
    display: none;
}

main article h2 {
    text-transform: uppercase;
    margin-bottom: 1.3em;
    position: relative;
    font-weight: 600;
    letter-spacing: 0.15em;
}

main article h2:after {
    content: '';
    width: 5em;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    top: 1.4em;
    left: 0;
}

.close {
    width: 2em;
    height: 2em;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    border-radius: 100%;
    transition: all 0.2s ease-in-out;
    text-align: center;
}

.close:hover { background-color: rgba(255, 255, 255, 0.5); }

.fa-times {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-42%, -53.5%);
    font-size: 1.25em;
    color: #ffffff;
}

/* -------- contact -------- */
/*#contact { display: block; }*/

label {
    color: rgba(255, 255, 255, 0.7);
    display: block;
    font-weight: 300;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

input[type="text"],
input[type="email"],
textarea {
    background: transparent;
    border-radius: 4px;
    border: solid 1px rgba(255, 255, 255, 0.7);
    color: rgba(255, 255, 255, 0.7);
    display: block;
    outline: 0;
    padding: 0 0.5em;
    text-decoration: none;
    height: 2.3em;
    transition: all 0.2s ease-in-out;
    width: 100%;
    font-size: 1.3em;
}

textarea {
    padding: 1em 1em;
    height: 10em;
}

.field { margin-bottom: 1.5em; }

input[type="text"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
    background: rgba(255, 255, 255, 0.075);
    border-color: #ffffff;
    box-shadow: 0 0 0 1px #ffffff;
}

.name-email {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.name, .email { width: 50%; }

.name { padding: 0 1em 0 0; }
.email { padding: 0 0 0 1em; }

ul.actions { padding: 0; }

ul.actions li {
    display: inline-block;
    padding: 0 1rem 0 0;
}

.submit-button,
.reset-button {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 1em 1em;
    border: solid 1px rgba(255, 255, 255, 0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.submit-button {
    background-color: #ffffff;
    color: #1b1f22;
    font-weight: 600;
}

.submit-button:hover {
    background: transparent;
    color: rgba(255, 255, 255, 0.7);
    border-bottom-right-radius: 25px;
}

.reset-button {
    background: transparent;
    color: rgba(255, 255, 255, 0.7);
}

.reset-button:hover { border-bottom-right-radius: 25px; }

/* -------- FOOTER -------- */
footer {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 100%);
}

.copyright {
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;

}

/* -------- ANIMATIONS -------- */
@keyframes slider {
    0%, 20% {
        padding: 0;
        height: 0;
    }

    100% {
        padding: 0.5em 0 1.40em 0;
        height: 15.75em;
    }
}
.slider { animation: slider 1.4s; }

@keyframes text-appears {
    0%, 30% { opacity: 0; }
    80% { opacity: 0.5; }
    100% { opacity: 1; }
}
.text-appears { animation: text-appears 1.4s }

@keyframes icons-appear {
    0%, 50% { opacity: 0; }
    100% { opacity: 1; }
}
.icons-appear { animation: icons-appear 2s }

@keyframes section-appears {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.section-appears { animation: section-appears 0.8s }

@keyframes section-disappears {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
.section-disappears { animation: section-disappears 0.8s }

/* -------- MEDIA QUERIES -------- */
@media only screen and (max-width: 1280px) {
    .home { width: 40vw; }
    main article { width: 65vw; }
}

@media only screen and (max-width: 1024px) {
    .home { width: 45vw; }
}

@media only screen and (max-width: 768px) {
    .home { width: 55vw; }
    main article { width: 85vw; }
}

@media only screen and (max-width: 480px) {
    .home { width: 85vw; }

    .home-inner h1::after { width: 3em; }

    .logo {
        width: 13vw;
        height: 13vw;
    }

    nav { width: 40vw; }

    nav ul { display: block; }

    nav ul li {
        border-left: 0;
        border-top: solid 1px #ffffff;
    }

    nav ul li:first-child { border-top: 0; }
}

@media only screen and (max-width: 320px) {
    body {
        font-size: 1.2em;
    }

    .logo {
        width: 18vw;
        height: 18vw;
    }

    @keyframes slider {
        0%, 20% {
            padding: 0;
            height: 0;
        }

        100% {
            padding: 0.5em 0 1.40em 0;
            height: 19.25em;
        }
    }
}